body {
    background-color: #075CC1;
}

.box {
    background-color: white;
    border-radius: 10px;
    color: #075CC1;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    width: 85%;
}

#data {
    color: black;
    column-rule: 1px solid lightblue;
}

img:hover {
    opacity: 0.8;
}
